extends layout

block content
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='.')= title
  .container-md
    .row.row-cols-sm-auto.g-3.align-items-center.mt-1
      .col-12
        .btn-group(role='group')
          button.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')= 'Map Visualization'
          ul.dropdown-menu
            li
              a.dropdown-item(href='javascript:void(0);' onclick='showMap("cellular")')= 'Cellular Heatmap'
            li
              a.dropdown-item(href='javascript:void(0);' onclick='showMap("wifi")')= 'Wi-Fi Heatmap'
      .col-12
        .btn-group(role='group')
          button.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')= 'Download CSV'
          ul.dropdown-menu
            li
              a.dropdown-item(href='javascript:void(0);' onclick='fetchFiles("general")')= 'General CSV'
            li
              a.dropdown-item(href='javascript:void(0);' onclick='fetchFiles("cellular")')= 'Cellular CSV'
            li
              a.dropdown-item(href='javascript:void(0);' onclick='fetchFiles("wifi")')= 'Wi-Fi CSV'
      .col-12
        button.btn.btn-primary(type='button' onclick='fetchFiles("json")')= 'Download Raw JSON'
    .row
      .col-lg-6.col-md-12.g-3
        h3= 'Spatial selection'
        .row.g-3.align-items-end
          .col-md.col-sm-12
            label(for='inputGpsStart')= 'Start coordinates'
            input#inputGpsStart.form-control(type='text' placeholder='<latitude>, <longitude>' onkeydown='return (event.keyCode !== 13)')
          .col-md.col-sm-12
            label(for='inputGpsEnd')= 'End coordinates'
            input#inputGpsEnd.form-control(type='text' placeholder='<latitude>, <longitude>' onkeydown='return (event.keyCode !== 13)')
          .col-md-3.col-sm-12
            button.btn.btn-primary(type='button' onclick='showMap("selectCoord")')= 'Select on map'

      .col-lg-6.col-md-12.g-3
        h3.g-3= 'Date time selection'
        .row.g-3.align-items-center
          .col-md.col-sm-12
            label(for='inputDtStart')= 'Start date and time'
              #dtStart.input-group.log-event(data-td-target-input='nearest' data-td-target-toggle='nearest')
                input#inputDtStart.form-control(type='text' placeholder='Date and time' data-td-target="#dtStart" onkeydown='return (event.keyCode !== 13)')
                span.input-group-text(data-td-target='#dtStart' data-td-toggle='datetimepicker')
                  i.bi.bi-calendar-week
          .col-md.col-sm-12
            label(for='inputDtEnd')= 'Start date and time'
              #dtEnd.input-group.log-event(data-td-target-input='nearest' data-td-target-toggle='nearest')
                input#inputDtEnd.form-control(type='text' placeholder='Date and time' data-td-target="#dtEnd" onkeydown='return (event.keyCode !== 13)')
                span.input-group-text(data-td-target='#dtEnd' data-td-toggle='datetimepicker')
                  i.bi.bi-calendar-week
          .col-md-3.col-sm-12
            label(for='inputDtZone')= 'Timezone'
            input#inputDtZone.form-control(type='text' placeholder='-0400' onkeydown='return (event.keyCode !== 13)')

      .col-12.g-3
        h3= 'File selection'
        .d-flex.g-3.align-items-center.mb-2
          .pe-2.flex-grow-1
            label.visually-hidden(for='inputFilter')= 'File filter'
            input#inputFilter.form-control(type='text' placeholder='File filter' onkeydown='if (event.keyCode == 13) { filter(); return false }')
          .p-2
            button.btn.btn-primary(type='button' onclick='submitFilter()')= 'Submit filter'
          .p-2
            button.btn.btn-primary(type='button' onclick='clearFilter()')= 'Clear filter'
        .overflow-auto(style='max-height: 70vh;')
          table.table.table-striped
            thead
              tr
                td
                  input#filesCheckAll.form-check-input(type='checkbox' onclick='checkAll()')
                  label.form-check-label.ms-1(for='filesCheckAll')= 'File name'
            tbody#fileTable

    #mapModal.modal.fade(tabindex='-1' aria-labelledby='mapModalLabel' aria-hidden='true')
      .modal-dialog.modal-fullscreen
        .modal-content
          .modal-header
            h1#mapModalLabel.modal-title.fs-5= 'Map'
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .container-md
              .row
                #heatmap
              #coordBox.row.pt-3
                .d-flex.align-items-end
                  .p-2.flex-grow-1
                    label(for='previewGpsStart')= 'Start coordinates'
                    input#previewGpsStart.form-control(disabled readonly type='text')
                  .p-2.flex-grow-1
                    label(for='previewGpsEnd')= 'End coordinates'
                    input#previewGpsEnd.form-control(disabled readonly type='text')
                  .p-2
                    button.btn.btn-primary(type='button' data-bs-dismiss='modal' aria-label='Close')= 'Select coordinates'
              #vizBox.row.pt-3
                .d-flex.align-items-end.justify-content-center
                  .p-2
                    label(for='opSelect')= 'Operator'
                    select#opSelect.form-control.form-select(aria-label='Operator')
                  .p-2
                    label(for='techSelect')= 'Technology'
                    #techSelect.form-control.btn-group.p-0(role='group' aria-label='Technology')
                      input#techRadioLte.btn-check(type='radio' name='techRadio' value='lte' autocomplete='off' checked)
                      label.btn.btn-outline-primary(for='techRadioLte')= 'LTE'
                      input#techRadioNr.btn-check(type='radio' name='techRadio' value='nr' autocomplete='off')
                      label.btn.btn-outline-primary(for='techRadioNr')= 'NR'
                  .p-2
                    label(for='bandSelect')= 'Band'
                    select#bandSelect.form-control.form-select(aria-label='Band')
                  .p-2
                    label(for='statSelect')= 'Statistic'
                    #statSelect.form-control.btn-group.p-0(role='group' aria-label='Statistic')
                      input#statRadioMax.btn-check(type='radio' name='statRadio' value='max' autocomplete='off' checked)
                      label.btn.btn-outline-primary(for='statRadioMax')= 'Max'
                      input#statRadioMean.btn-check(type='radio' name='statRadio' value='mean' autocomplete='off')
                      label.btn.btn-outline-primary(for='statRadioMean')= 'Mean'
                  .p-2
                    button.btn.btn-primary(type='button' onclick='submitMapFilter()')= 'Submit'

  script(src='/javascripts/index.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAcp-79zLw4hn8uA4HRJsWrRhvQQIp3ep4&loading=async&callback=initMap&libraries=visualization,drawing')
